.mainBox {
    display: flex;
    justify-content: space-between;
    margin: 15%;
}

#output-box {
    border: 1px solid red;
    height: 30px;
    width: 50%;
    padding: 0;
}

#input-box {
    border: 1px solid black;
    height: 30px;
    width: 47%;
    padding: 0;
}